
header {
	box-shadow: 0 2px 4px rgba(0,0,0,0.1);
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	padding: 0 1rem;
    box-sizing: border-box;
    width: 100%;
    background-color: var(--color-background);
	transition: all 0.3s;
	nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		// padding: 1rem 0;
        height: 3rem;
		width: 100%;
		margin: 0 auto;
		text-align: center;

		a svg {
			height: 1.5rem;
			fill: var(--color-text);
			cursor: pointer;
		}
		.nav-actions{
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			width: fit-content;
			gap: 1rem;
			// padding: 0.5rem;
			// background-color: var(--color-background-2);
			border-radius: var(--border-radius-medium);

			.action{
				display: flex;
				align-items: center;
				justify-content: center;
				width: 2rem;
				height: 2rem;
				background-color: var(--color-background-2);
				border-radius: 50%;
				svg, path{
					height: 1.25rem;
					fill: var(--color-text);
					cursor: pointer;
				}

				&.premium{
					// background-color: var(--color-primary);
					svg, path{
						fill: var(--color-primary);
					}
				}
			}
		}


	}

    &.hide {
        transform: translateY(-100%);
    }
}
