
header {
	box-shadow: 0 2px 4px rgba(0,0,0,0.1);
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	padding: 0 1rem;
    box-sizing: border-box;
    width: 100%;
    background-color: var(--color-background);
	transition: all 0.3s;
	nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		// padding: 1rem 0;
        height: 3rem;
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}

    &.hide {
        transform: translateY(-100%);
    }
}
