aside {
	display: flex;
	flex-direction: column;
	align-items: center;
	// gap: 1rem;
	width: 50px;
	height: 100%;
	background-color: var(--color-background);
	// position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	overflow-x: hidden;
	// padding-top: 20px;
	border-right: 1px solid #e9ecef;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
	transition: var(--transition);
	.menu-toggle {
        cursor: pointer;
        display: flex;
        position: relative;
        top: 0;
        width: 100%;
        height: 3rem;
        padding: 10px;
        box-sizing: border-box;
        transition: var(--transition);
        align-items: center;
        justify-content: center;

        &:hover {
            background-color: var(--color-background-2);
        }
        
        .openIcon {
            display: block;
        }
        .closeIcon {
            display: none;
        }
        &.open {
            .openIcon {
                display: none;
            }
            .closeIcon {
                display: block;
            }
        }
	}
	.menu {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		.menu-item {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
            gap: 0.5rem;
			// height: 50px;
            border-top: 2px solid var(--color-background-2);
            height: 3em;
            // padding: 10px;
			cursor: pointer;
            text-decoration: none;
            color: var(--text-color);
			transition: var(--transition);
			&:hover {
				background-color: var(--color-background-2);
			}
			.label {
				display: none;
			}
		}
		.menu-item.active {
			background-color: var(--color-grey);
		}
	}
    .side-footer{
        display: none;
    }
}

aside.open {
	width: 25%;
	.menu-toggle {
		right: 0%;
		transform: translateX(0%);
	}
	.menu {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		.menu-item {
			.label {
				display: block;
			}
		}
	}
}
