.home{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 1rem;
    // background-color: #f5f5f5;
    box-sizing: border-box;

    h1{
        font-size: 2rem;
        font-weight: 600;
        color: var(--color-text);
        margin: 0 0;
    }

    .section-selector{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 80%;
        border-radius: var(--border-radius-medium);
        height: 3rem;
        background-color: var(--color-background);
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        padding: 0 1rem;
        box-sizing: border-box;
        margin: 0 auto;
        transition: all 0.3s;

        .section-option{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            margin: 0 auto;
            text-align: center;
            cursor: pointer;
            transition: all 0.3s;
            color: var(--color-text);
            font-size: 1rem;
            font-weight: 500;

            &.selected{
                color: var(--color-primary);
                font-weight: 600;
            }

            &:hover{
                color: var(--color-primary);
            }
        }
    }
}