.app-wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  position: relative;

  .main-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    // padding: 1rem;
    box-sizing: border-box;

    .content{
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      // justify-content: center;
      // padding: 1rem;
      box-sizing: border-box;
      overflow: auto;
    }

  }
}